<section>
  <h2>{{ isEditting ? "Card edition" : "Card creation" }}</h2>
  <form [formGroup]="creationForm" (submit)="submitCard()">
    <label for="title">Title</label>
    <input
      id="title"
      type="text"
      formControlName="title"
      placeholder="Enter a title"
    />
    <label for="description">Description</label>
    <input
      id="description"
      type="text"
      formControlName="description"
      placeholder="Enter a description"
    />
    <label for="movie">Select a Movie</label>
    <select id="movie" formControlName="movieImageUrl">
      <option value="">Select a movie</option>
      <option
        *ngFor="let movie of movies"
        [value]="movie.id + '|' + movie.poster_path"
      >
        {{ movie.title }}
      </option>
    </select>
    <div class="card-creation-action-buttons">
      <button
        *ngIf="isEditting"
        (click)="toggleEdittingMode()"
        class="cancel-button"
      >
        Cancel
      </button>
      <button>{{ isEditting ? "Save changes" : "Create card" }}</button>
    </div>
  </form>
</section>
