<section>
  <h2>Card creation</h2>
  <form [formGroup]="creationForm" (submit)="submitCard()">
    <label for="title">Title</label>
    <input id="title" type="text" formControlName="title" />
    <label for="description">Description</label>
    <input id="description" type="text" formControlName="description" />
    <label for="movie">Select a Movie</label>
    <select id="movie" formControlName="movieImageUrl">
      <option *ngFor="let movie of movies" [value]="movie.title">{{ movie.title }}</option>
    </select>
    <button>Create card</button>
  </form>
</section>
